.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 75%;
}
body {
    background-image: url("../background.jpg");
    background-repeat: no-repeat;
    background-color: #c52e20;
    background-size: 225vh;
}
